/*colors-variables*/
$base_color: beige;
$title: chocolate;
$second-title: brown;
$accordion_color: #ddd;
$accordion_button:  green;
$border_nav: solid  2px green !important;
$border_table:1px solid;

body{
    background: $base_color;
}

h1 {
    color: $title;
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
	}
	
h2 {
    color:$second-title;
    text-align: center;
    font-size: 25px;
}


/*th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}*/
th {
	border-bottom: $border_table $accordion_color;
	padding: 15px;
	text-align: center;
}
td {
	border-bottom:$border_table $accordion_color; 
	padding: 15px;
    text-align: center;
}


/*nav > .navbar-toggler{
    border:solid  2px green !important;
}*/
nav {
	>.navbar-toggler {
		border: $border_nav;
	}
}

/*
#accordion{
    color: green;
}*/

#accordion{
    color:$accordion_button;
}

/*
ol>li{
    margin-left:1em;
}
*/

ol {
	>li {
		margin-left: 1em;
	}
}

/*
#method + p{
    margin-left:3em;;
}*/

#cook{ 
	font-size: 12em;
	#method {
		&+p {
			margin-left: 3em;
	}
}
}

/*
#ingredients, #method{
    font-size: 17px;
    font-weight: bolder;
}*/

#ingredients {
	font-size: 17px;
	font-weight: bolder;
}
#method {
	font-size: 17px;
	font-weight: bolder;
}


/*
#ingredients_list > li::before{
    content: "✓ " !important;
}*/
#ingredients_list {
	>li {
		&::before {
			content: "✓ " !important;
		}
	}
}

 
#back{
    margin-left: 150px;
}

ul{
   list-style: none;
}
